body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.title {
    margin-bottom: 40px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image .image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 20px;
}

.title.is-4 {
    color: black;
}

.content {
    color: #333;
}
